



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 100;
}
.logo:hover {
    color: rgb(50, 9, 233);
    transition: .3s;
}
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: #1956e2;
}
.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, white 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 60%;
    border: 20px solid white;
    outline: 25px solid #031540
}
.home-image img {
    position: relative;
    bottom: 45px;
    max-width: 387px;
    left: 10px;

}
.home-content {
    max-width: 600px;
    color: white;
    text-align: right;
}
.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}
.home-content h3 {
    font-size: 38px;
    color: transparent;
    -webkit-text-stroke: .5px white ;
    background-image: linear-gradient(#1956e2, #1956e2);
    background-repeat: no-repeat;
    background-position: -450px 0;
    animation: animateText 7s linear infinite;
}

@keyframes animateText {
    0%,95%,100% {
        background-position: -450px 0;
    }
    65%,85% {
        background-position: 0 0;
    }
}
.home-content p {
    font-size: 18px;
    margin-top: 20px;
}
.home-sci {
    margin: 25px 0 40px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: #4077f8;
    text-decoration: none;
    margin-left: 20px;
    transition: .5s;
}
.home-sci a:hover {
    background: #4f82f7;
    color: white;
    border-color: #1956e2;
    box-shadow: 0 0 10px #1956e2;
}
.btn {
    padding: 12px 35px;
    background: #1956e2;
    border-radius: 40px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #1956e2;
    transition: .5s;
}
.btn:hover {
    box-shadow: none;
}